@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300&display=swap');

// sobreescrever nome de uma variaves do sass do font-awesome
$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome";

@import "custom";

body{
    height: 100%;
    min-height: 100vh;
    background-color: #fff;

    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}